<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}
    <meta name="description" content="Amnesty Decoders: The Amnesty International global network of digital volunteers.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Facebook meta tags-->
    {% include '_fb.html' ignore missing %}

    <!-- Twitter meta tags-->
    {% include '_tw.html' ignore missing %}

    <!-- Le styles -->    
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/amnesty.css">
    <link rel="stylesheet" href="/static/css/landing-page.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/fav_icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/fav_icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/fav_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/fav_icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/fav_icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/fav_icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/fav_icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/fav_icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav_icons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/img/fav_icons/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/fav_icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffff00" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Le javascript -->
    <!-- As pybossa js script using jquery so we only need to load it first -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Google Analytics or similar solutions -->
    {% include '_ganalytics.html' ignore missing %}
    <!-- Google Custom Search -->
    {% include '_gcs.html' ignore missing %}
  </head>

  <body>
    {% set active_page = active_page | default('index') -%}
    {% set active_project  = active_project | default('none') -%}
    {% include "_navbar.html" %}
    {% if not current_user.is_anonymous() %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}
    {% block content %}{% endblock %}
    {% include "_footer.html" %}
    <!-- Le javascript -->
    {% if not jstop %}
    {% assets filters="jsmin", output="js/gen/default.min.js",
                "js/libs/cookies-js/dist/cookies.min.js",
                "js/libs/bootstrap/dist/js/bootstrap.min.js", 

                "js/vendor/modernizr.min.js", 
                "js/flashmessages.js",

                "js/popup-social-link.js",
                "js/navbar.js",
                "js/accept-cookies.js"
              %}
              <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endif %}
    {% block extrajs %}
    {% endblock %}
    {% include "_flash_messages.html" %}
  </body>
</html>
